* {
    font-family: 'Colber', sans-serif;
    margin: 0;
    padding: 0;
}

.app-wrapper {
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
  'header header'
  'nav content';

    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    font-size: 14px;
}

.app-content {
    grid-area: content;
}

.preloaderSuspense {
    padding-left: calc(50% - 250px);
}

.preloader {
    padding-top: calc(50vh - 250px);
    margin-left: calc(50vw - 250px);
}